body{
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
}
section{
    height: 600px;
    margin-bottom: 100px;
}
.half-width{
    width: 40%;
    float: left;
    margin-left: 5%;
    padding-left: 2%;
}
.half-width img{
    width: 100%;
}
.half-width h1{
    color: #19334d;
    font-size: 55px;
}
.half-width h2{
    color: #19334d;
    font-size: 35px;
}

.color-highlight{
    color: #FA8072;
}
.half-width p{
    text-align: justify;
    color: #5a5a5a;
    font-weight: 400;
    margin: 50px 0;
}
.buttons{
    background-color:  #FA8072;
    color: white;
    text-decoration: none;
    padding: 20px 40px;
    border-radius: 07px;
}
.one-third{
    width: 25%;
    height: 370px;
    float: left;
    margin: 2.12%;
    padding: 2%;
    background-color: white;
    border-radius: 20px;
}
.one-third img{
    width: 100%;
}
.third-section h2,
.extra-section h2{
    color: #19334d;
    font-size: 35px;
    text-align: center;
    padding: 15px;
}
.third-section,
.extra-section{
    background-color: #e6e6e6;
}
.one-third h3{
    color: #19334d;
    font-size: 22px;
}
.one-third p{
    color:  #5a5a5a;
}

.INQUIRY{
    width: 80%;
    height: 330px;
    background-image: url("images/bg.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    margin-left: 135px;
}
.INQUIRY h2{
    font-size: 35px;
    display: inline-block;
    margin: 20vh 33vh;
    color: white; 
}
.fourth-section{
    margin-bottom: 0;
    height: 400px;
}

.extra-section h4,
.social-media-sec{
    text-align: center;
    color:  #5a5a5a;
    font-size: 20px;
    margin-top: 0;
}
form{
    width: 80%;
    height: 300px;
    margin: 0 auto;

}
form label,
form input,
form textarea{
    display: block; 
    font-size: 18px;
    color: #19334d;
    margin-left: 32vh;
}
form input,
form textarea{
    width: 60%;
    padding: 1rem;
    border: 1px solid gray;
    border-radius: 7px;
}
form a{
    display: block;
    width: 50px;
    margin-top: 3.5vh;
    margin-left: 32vh;
}
.social-media-sec{
    height: 150px;
}
.social-media-sec h3{
    color: #19334d;
    text-align: center;
}
.fa {
    padding: 15px;
    font-size: 30px;
    width: 30px;
    border-radius:50%;
    text-align: center;
    text-decoration: none;
    margin: 3px 15px;
  }
  .fa-facebook {
    background: #3B5998;
    color: white;
  }
  .fa-linkedin {
    background: #007bb5;
    color: white;
  }
  
.fa-instagram {
    background: tomato;
    color: white;
  }
